    input {margin:-100%}
    
    button {
        padding: 0;
        
        border: none;
        
        background: none;
    }

    :root {
        --header-image: url('');
 
        --body-bg-image: url('/assets/bg.gif');
 
        --bg-image: url('/assets/bg.gif');
 
        --sidebar-image: ;

        --content: #000000;
    }

@font-face {
    font-family: "pgothic";
    src: url("/fonts/ms-pgothic-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    }

    body {
        font-family: 'pgothic';
 
        margin: 0;
 
        background-color: #ebeef2;
 
        background-size: 60px;
 
        color: #000000;
    }
 
    li {
        list-style-position: inside;
    }

    * {
        box-sizing: border-box;
    }
 
    #container {
        max-width: 1000px;
        
        margin: 0 auto;
        
      }

    #container a {
        color: #000000;
    }
 
    #header {
        width: 100%;

        background-color: none;
 
        height: 150px;
 
        background-image: var(--header-image);
 
        background-size: 100%;
    }

    #navbar {
        height: 40px;
 
        width: 100%;
 
        margin-bottom: 5px;
    }
 
    #navbar ul {
 
        display: flex;
 
        padding: 0;
 
        margin: 0;
 
        list-style-type: none;
 
        justify-content: space-evenly;
    }
 
    #navbar li {
        padding-top: 10px;
    }
 
    #navbar li a {
 
        color: #000000;
 
        font-weight: 800;
 
        text-decoration: none;
 
    }
 
    #navbar li a:hover {
 
        color: #a49cba;
 
        text-decoration: underline;
    }
 
    #flex {
        background-size: 15%;

        display: flex;
    }
 
    aside {
        background-size: 230%;
        
        width: 215px;

        border: 3px solid #000000;

        padding: 10px;

        padding-bottom: 10px;

        font-size: smaller;

        border-right-width: 0px;

        background-color: #f67300f2;
      }

    aside2 {
        background-size: 15%;
 
        width: 215px;
 
        border: 3px solid #000000;
 
        padding: 10px;

        padding-bottom: 10px;

        border-right-width: 0px;

        background-color: #f67300f2;
    }
 
    main {
        background-size: 15%;

        padding: 10px;
 
        border: 3px solid #000000;
 
        font-size: smaller;

        border-left-width: 0px;
 
        padding-left: 0px;
 
        padding-bottom: 10px;

        background-color: #f67300f2;
    }
 
    .argh {
        background-color: #f2f2f2fc;   

        padding: 20px;

        height: 100%;

        border: 3px solid #000000;
      }
 
    .argh2 {
        padding: 15px;

        padding-left: 90px;

        padding-right: 90px;
    }
 
	.argh3 {  
        padding: 110px;
 
        padding-top: 20px;

        padding-bottom: 20px;

    }
 
    */ #leftSidebar {
        order: 1;
        position:relative;
    }
    */ #mainSection {
          order: 2;
    }
 
    */ #rightSidebar {
        order: 3;
        position:relative;
    }
 
    footer {
        background-color:none;

        width: 100%;

        height: 40px;

        padding: 10px;

        padding-right: 50px;

        text-align: right;

        font-size: 13px;

        font-family: 'pgothic';
    }
 
    h1,
    h2,
    h3 {
      color: #000000;
    }
 
    h1 {
        font-size: 25px;
    }

    strong {
        color: #000000;
    } 

    a:link, a:visited {
        background-color: none;

        color: none;

        text-align: center;

        text-decoration: none;

        display: inline-block;

        text-align: right;

        font-size: 13px;

        font-family: 'pgothic';
    }

    .box {
        background-color: #f2f2f2fc;

        border: 3px solid #000000;

        padding: 10px;

        border-top-width: 0;

        margin-bottom: 10px;

		align-items: center;

		justify-content: center;
    }

	.boxLeft {
        background-color: #f2f2f2fc;
        
        border: 3px solid #000000;
        
        padding: 10px;

        padding-top: 29px;

		margin-top: 05px;

        margin-bottom: 10px;

        height:100%;

        justify-content: center;

        align-items: center;

        overflow:hidden;
    }

	.boxRight {    
        background-color: #f2f2f2fc;
        
        border: 3px solid #000000;
        
        padding: 10px;
        
        margin-bottom: 10px;
        
        align-items: center;
        
        justify-content: center;
    }

	.boxRight2 {
        background-color: #f2f2f2fc;
        
        border: 3px solid #000000;
        
        padding: 10px;

		padding-top: 05px;

        height:100%;
        
        align-items: center;
        
        justify-content: center;

    }

    .containerbox {
		height: 100%;
        border-bottom:3px solid #000000;
        overflow: hidden;
    }

    .sideheader {
        background-color: #f2f2f2fc;

        border: 3px solid #000000;

        padding: 4px;
    }

    .button {
        background-color: #f2f2f2fc;

        border: 3px solid #000000;

        padding: 5px;

        padding-top: 3px;

        padding-bottom: 0px;

        margin-bottom: 10px;

		display: flex;

		align-items: center;

		justify-content: center;
    }

    #topBar {
        width: 100%;

        height: 30px;

        font-size: smaller;

        background-color: #ffffff;
    }

    @media only screen and (max-width: 800px) {
        #flex {
            flex-wrap: wrap;
        }
 
        aside {
                width: 100%;
        }

        main {
            width: 100%;
        }
 
        #leftSidebar {
            order: 1;
        }
 
        #mainSection {
            order: 2;
        }

        #rightSidebar {
            order: 3;
        }
 
        #navbar ul {
            flex-wrap: wrap;
        }
 
    }